bcrypt==4.0.1
blinker==1.5
Brotli==1.0.9
cachetools
cashfree-sdk==0.1.3
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click
colorama==0.4.5
cssselect2
dnspython==2.2.1
email-validator==1.3.0
Flask
Flask-Bcrypt
Flask-Login
Flask-Mail
Flask-SQLAlchemy
Flask-WTF
fonttools
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
greenlet
html5lib
httplib2
idna
importlib-metadata
itsdangerous==2.0.1
Jinja2
MarkupSafe
oauthlib
pem
Pillow
protobuf
pyasn1
pyasn1-modules
pycparser
pycryptodome
pydyf
pyparsing
pyphen
python-dotenv
requests
requests-oauthlib
rsa
six
SQLAlchemy
tinycss2
uritemplate
urllib3
weasyprint
webencodings
Werkzeug
WTForms
XlsxWriter
zipp
zopfli