{%extends "layout.html"%}

{%block head%}
    
{%endblock head%}

{%block body%}
    <ul>
        <li><a href="{{url_for('admin.manage_events')}}">Manage Events</a></li>
        <li><a href="{{url_for('admin.admin_modify_user')}}">Modify User</a></li>
        <li><a href="{{url_for('admin.admin_see_data')}}">See data</a></li>
        <li><a href="{{url_for('admin.admin_all_users')}}">All users</a></li>
        <li><a href="{{url_for('admin.admin_all_payments')}}">All Payments</a></li>
        <li><a href="{{url_for('admin.manage_passes')}}">Manage Passes</a></li>
        <li><a href="{{url_for('admin.payment_settings')}}">Modify Payment settings</a></li>
        <li><a href="{{url_for('admin.manage_sponsors')}}">Modify Sponsors</a></li>
        <li><a href="{{url_for('admin.mit_passcodes')}}">MIT Passcodes</a></li>
        <li><a href="{{url_for('admin.password_resets')}}">Password Reset Request</a></li>
        <!-- <li><a href="{{url_for('admin.view_unsent_mails')}}">Unsent Emails</a></li> -->
    </ul>

{%endblock body%}