{%extends "layout.html"%}

{%block head%}
<style>
    table{
            padding: 2px;
            margin: auto;
            border-width: 1px;
            border-style: ridge;
        }
        table th{
            padding: 2px;
            margin: auto;
            border-width: 1px;
            border-style: ridge;
        }
        table td{
            padding: 2px;
            margin: auto;
            border-width: 1px;
            border-style: ridge;
        }

</style>
{%endblock head%}

{%block body%}
<button class="btn btn-success" id="print" onclick="window.print();">Print Page</button>
<a href="{{ url_for('admin.all_payments_download') }}">Download All Payments as Excel</a>
    <table>
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Purchase ID</th>
                <th>Tranaction ID</th>
                <th>Payer Account</th>
                <th>Purchased at</th>
                <th>Registration Number</th>
                <th>Name</th>
                <th>Dept, College</th>
                <th>Pass Type</th>
                <th>Amount</th>
                <th>Payment Status</th>
            </tr>
        </thead>
        <tbody>
            {%for i in purchases%}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{i.purchase_id}}</td>
                    <td>{{i.tranaction_id}}</td>
                    <td>{{i.payer_account}}</td>
                    <td>{{i.purchased_at}}</td>
                    <td>{{i.purchased_by.reg_no}}</td>
                    <td>{{i.purchased_by.name}}</td>
                    <td>{{i.purchased_by.dept}},{{i.purchased_by.college}}</td>
                    <td>{{i.event_pass.pass_name}}</td>
                    <td>{{i.purchase_price}}</td>
                    <td>{{i.payment_status}}</td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
   
{%endblock body%}