{%extends "layout.html"%}

{%block head%}
    <script>
        $(document).ready(function() {
            var validated = false;
            var total = $('#type option:selected').data('cost');
            console.log(total);
            $('#total-cost').html(total);
            var not_eligible = '{{not_eligible}}'
            $('#type').on('change', function(){
                var total = $('#type option:selected').data('cost');
                $('#total-cost').html(total);
            });

            $('#payment').click(function(event){
                event.preventDefault();
                pass_id = $('#type option:selected').val();
                var url = "{{url_for('payment')}}?"+'&pass_id='+pass_id;
                console.log(url)
                window.location.href = url;
                
            });
        });
        
    </script>
    <style>
        .pass-table{
    width:100%;
    border-collapse: collapse;
    margin-top:15px;
}

.pass-table th,
.pass-table td{
    padding:8px 10px;
    text-align:left;
}

.pass-table th{
    border-bottom:2px solid #00eaff;
    font-weight:bold;
}

.pass-table td:last-child{
    text-align:right;
}

.pass-table tr{
    border-bottom:1px solid rgba(255,255,255,0.2);
}
    </style>

{%endblock head%}

{%block body%}

    <div class="container">
        <div class="form">
            <div class="form-heading">
                Buy Pass
            </div>
            <div>
                <marquee><h1>
                !!! ON DISCOUNT !!!</h1>
            </marquee>
            </div><br>
            <div>
                    <p style="text-align: center;">EACH PARTICIPANT MUST PURCHASE THEIR PASS INDIVIDUALLY!!</p>
                </div>
                <br>
            <div>
                Please Select below the pass required according to the type of event that you wish to participate<br>

                <table class="pass-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>

    <tbody>
        {% for each_pass in all_passes %}
        <tr>
            <td>{{ each_pass.pass_name }}</td>
            <td>{{ each_pass.pass_description }}</td>
            <td>{{ each_pass.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
            </div>
            <br/><br/>
            <form id="buy-pass-form" action="" method="post" class="signUp">
                <div class="formGroup">
                    <div>
                        Type:
                        <select name="type" id="type" class="for_nam"
                            style="color:white; background-color:#002333;" required>

                            {% for each_pass in all_passes %}
                                {% set ns = namespace(has_pass=false) %}

                                {% for user_pass in user_passes %}
                                    {% if user_pass.id == each_pass.id %}
                                        {% set ns.has_pass = true %}
                                    {% endif %}
                                {% endfor %}

                                <option value="{{ each_pass.pass_id }}"
                                        data-cost="{{ each_pass.price }}"
                                        {% if ns.has_pass %}disabled{% endif %}>
                                    {{ each_pass.pass_name }}
                                    {% if ns.has_pass %}(Already Purchased){% endif %}
                                </option>

                            {% endfor %}
                        </select>
                    </div>    
                </div>
                <br><br>

                <div class="formGroup">
                    <div>
                    Total :
                        <div id="total-cost"></div>
                    </div>
                </div>
                <br/><br/>

                <div class="formGroup">
                    <button id="payment" class="btn">
                        Click to scan QR and Pay and Enter Transaction Details
                    </button>
                </div>
                <br/><br/>
                
            </form>
            
        </div>
    </div>


{%endblock body%}