{%extends "layout.html"%}

{%block head%}

{%endblock head%}

{%block body%}
    <div class="container">
        <div class="form" style="align-items: center;">
            <div class="form-heading">
                Payment
            </div>
            <br><br>
            <form id="paymentForm" enctype="multipart/form-data" method="post" class="signUp">
                <div class="formGroup">
                    <div>
                        <h3>Pay using UPI</h3>
<p><b>UPI ID:</b> {{ settings.upi_id }}</p>

{% if settings.qr_image.startswith('http') %}
    <img src="{{ settings.qr_image }}?v={{ settings.updated_at.timestamp() }}" width="250">
{% else %}
    <img src="{{ url_for('static', filename=settings.qr_image) }}?v={{ settings.updated_at.timestamp() }}" width="250">
{% endif %}


                    </div>
                </div>
                <br><br>

                <div class="formGroup">
                    <div>
                        Please scan the above QR and Pay <br>
                        INR <input type="text" class="for_nam" value="{{amount}}" name="amount" readonly/> <br>
                        and enter transaction details below
                    </div>
                </div>
                <br>
                <div class="formGroup">
                    <div>
                        For user:
                        <input type="text" class="for_nam" value="{{current_user.reg_no}}" name="reg_no" readonly/><br>
                        (please confirm your registeration number)
                    </div>
                </div>
                <br>
                <div class="formGroup">
                    <div>
                        For user:
                        <input type="text" class="for_nam" value="{{current_user.email}}" name="email" readonly/><br>
                        (please confirm your Email id)
                    </div>
                </div>
                <br><br>
                <div class="formGroup">
                    <div>
                        For Event/Workshop:
                        <input type="text" class="for_nam" value="{{pass_obj.pass_id}}" name="pass_id" readonly hidden/>

                        <input type="text" class="for_nam" value="{{pass_obj.pass_name}}" name="pass_name" readonly/>
                    </div>
                </div>
                <br><br>

                <div class="formGroup">
                    <div>
                        <input type="text" class="for_nam" placeholder="Payer Account UPI or a/c number" name="payer-account" id="payer-account" required/>
                    </div>
                </div>
                <br><br>
                
                <div class="formGroup">
                    <div>
                        <input type="file" 
       class="for_nam" 
       name="screenshot" 
       id="screenshot" 
       accept=".jpg,.jpeg,.png,.webp"
       required/> <br>
                        Proof of payment (Screenshot)
                    </div>
                </div>
                <br><br>

                <div class="formGroup">
                    <div>
                        <input type="text" class="for_nam" placeholder="Transaction ID" name="tx-id" id="tx-id"/>
                        * Optional, please fill this for faster approvals
                    </div>
                </div>
                <br><br>

                <div class="formGroup"> <!-- style="display:none;"> ; CHANGE when to stop accepting-->
                    <div>
                        <input type="submit" value="Proceed" class="btn">
                    </div>

                </div>
                <br><br>
            </form>
            <div>
                {%if verifiers%}
                    In case of Query please contact <br/><br/>
                    {%for i in verifiers%}
                        <b>{{i.name}}</b> <i class="fa fa-phone mr-1"></i> {{i.mobile}}<br/><br/>
                    {%endfor%}
                {%endif%}
            </div>
            <br><br>
        </div>
    </div>

<script>
document.addEventListener("DOMContentLoaded", function() {

const form = document.getElementById("paymentForm");
const fileInput = document.getElementById("screenshot");

fileInput.addEventListener("change", function() {
    if (fileInput.files.length > 0) {
        console.log("File selected:", fileInput.files[0].name);
    }
});

form.addEventListener("submit", function(e) {
    if (!fileInput.files.length) {
        alert("Please reselect the screenshot before submitting.");
        e.preventDefault();
    }
});

});
</script>
{%endblock body%}